@model IEnumerable<Bo_Voyage_Final.Models.Dossierresa>

@{
    ViewData["Title"] = "MesReservations";
}

<h1>MesReservations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClientNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEtatDossierNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVoyageNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClientNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEtatDossierNavigation.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVoyageNavigation.Descriptif)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
