
@model IEnumerable<Bo_Voyage_Final.Models.Voyage>

<div class="bg-light">
    <h1 class="display-4 ">Recherche Avancée</h1>
    <form asp-controller="Voyages" asp-action="Index" method="get">

        <div>
            <label>Destination</label>
            <select name="idDestination"
                    asp-items="@(new SelectList( ViewBag.Destinations,"Id","Nom",ViewData["IdDestination"]))">
                <option selected value="0">Toutes les destinations</option>
            </select>
        </div>

        <div>
            <label>Voyages par continent</label>
            <select name="idCont"
                    asp-items="@(new SelectList( ViewBag.Continent,"Id","Nom"/*,ViewData["IdCont"]*/))">
                <option selected value="0">Tous les continents</option>
            </select>
        </div>

        <div>
            <label>Voyages par pays</label>
            <select name="idPays"
                    asp-items="@(new SelectList( ViewBag.Pays,"Id","Nom"/*,ViewData["IdPays"]*/))">
            <option selected value="0">Tous les pays</option> 
            </select>
        </div>

        <div>
            <label>Voyages par region</label>
            <select name="idRegion"
                    asp-items="@(new SelectList( ViewBag.Region,"Id","Nom"/*,ViewData["IdRegion"]*/))">
               <option selected value="0">Toutes les régions</option>
            </select>
        </div>



        <label>Prix Minimal</label>
        <input type="number" name="minPrice" value="@ViewBag.MinPrice" step="50">
        <label>Prix Maximal</label>
        <input type="number" name="maxPrice" value="@ViewBag.MaxPrice" step="50">
        <div>
            <label>Date minimale de départ</label>
            <input type="date" name="dateMin" value="@ViewBag.dateMin" class="col-4" id="inlineFormInputName2">

            <label>Date maximale de départ</label>
            <input type="date" name="dateMax" value="@ViewBag.dateMax" class="col-4" id="inlineFormInputName2">

        </div>
        <input type="submit" value="Filtrer" />

    </form>

</div>
