@model Dictionary<int, List<Bo_Voyage_Final.Models.Voyage>>


@{
    ViewBag.Title = "Nos tops";
    ViewBag.Bg = "/Images/voyage1.jpg";
}






<div class="container-fluid ">
    <div class="row d-flex justify-content-center ">
        <div class="col-10">

            <div class="jumbotron jumbotron-fluid text-light" style=" background-image: url(@ViewBag.Bg)">
                <h1 class="display-4 text-center" style="font-weight:bold">BoVoyage</h1>
                <p class="lead text-center" style="font-weight:bold">Des voyages à prix cassé!</p>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                <hr class="my-4">
                <p>Visionnez la rubrique "A propos" ou cliquez sur le bouton ci-dessous pour obtenir plus d'informations.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
                </p>
            </div>
        </div>
    </div>
</div>




@{
    List<string> Libelle = new List<string>()
{
              "Petits prix" ,
              "Départs iminents"
    };
}
<div class="text-center  container-fluid bg-light">

    <h1 class="display-4 font-italic font-weight-bold text-dark">@ViewBag.Title</h1>


    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Libelle[item.Key]
                                    @*@Html.DisplayFor(model => item.Key)*@
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var voyage in item.Value)
                            {
                                <tr>
                                    <td>
                                        <div class="bg-info rounded m-1 text-center " style="width:100%">
                                            <partial name="_cardVoyageVuePartielle" model="@voyage" />
                                            <a asp-area="Client" asp-controller="Voyages" asp-action="Details" asp-route-id="@voyage.Id" class="btn btn-primary">Plus de details</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }


            <div class="col-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Destinations les plus visitées
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var destination in @ViewBag.Destinations)
                        {

                            <tr>
                                <td>
                                    <div class="bg-info rounded m-1 text-center " style="width:100%">
                                        <partial name="_cardDestinationVuePartielle" model="@destination" />
                                        <a asp-area="Client" asp-controller="Voyages" asp-action="ListeDestinationVoyage" asp-route-id="@destination.Id" class="btn btn-primary">Afficher la liste</a>
                                    </div>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>
