@model Dictionary<int,List<Bo_Voyage_Final.Models.Voyage>>


    @{
        ViewBag.Title = "BoVoyage";
        ViewBag.Bg = "/Images/voyage1.jpg";
    }

@{ 
    List<string> Libelle = new List<string>()
    {
              "Top 5 Voyages le moins chèrs" ,
              "Top 5 Voyages de départ iminent",
              "Top 5 Voyages pour les pays les plus visités"
    };
}
    <div class="text-center container container-fluid" style="max-width=100%;background-image: url(@ViewBag.Bg);
                                heigth:100%;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover">

        <h1 class="display-4 font-italic font-weight-bold text-white">@ViewBag.Title</h1>


        <div class="container row">
            @foreach (var item in Model)
            {
                <div class="col-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Libelle[item.Key]
                                    @*@Html.DisplayFor(model => item.Key)*@
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var voyage in item.Value)
                            {
                                <tr>
                                    <td>
                                        <div class="bg-light rounded m-1 text-center">
                                        <partial name="_cardVoyageVuePartielle" model="@voyage" />
                                        <a asp-action="Details" asp-route-id="@voyage.Id" class="btn btn-primary">Plus de details</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>


    </div>
