@model IEnumerable<Bo_Voyage_Final.Models.Dossierresa>

@if (Model.Count() == 0)
{
    <div class="container-fluid ">
        <div class="row d-flex justify-content-center ">
            <div class="col-12">
                <h3 class="text-center" style="font-weight:bold">Malheureusement, vous n'avez actuellement aucune réservation.</h3>
                <br/><br/>
                <h4 class=" text-center" style="font-weight:bold">N'hésitez pas a suivre les liens ci-dessous pour consulter nos offres!</h4>
            </div>
        </div>
        <br />
        <br />
        <div class="row d-flex justify-content-center ">
            <div class="col-3">

            </div>
            <div class="col-3 d-flex justify-content-center">
                <a asp-area="Client" asp-controller="Home" asp-action="Index" class="btn btn-primary">Nos Tops voyages</a>
            </div>

            <div class="col-3 d-flex justify-content-center">
                <a asp-area="Client" asp-controller="Voyages" asp-action="Index" class="btn btn-primary">Tous nos voyages</a>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>



}
else
{

    <div class="container-fluid ">
        <div class="row d-flex justify-content-center bg-light rounded ">

            <h1>Historique de mes réservations</h1>
        </div>
    </div>
    <br />
    <br />
    <div class="container-fluid ">
        <div class="row d-flex justify-content-center bg-light rounded">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            Destination
                        </th>
                        <th>
                            Nombre de voyageurs
                        </th>
                        <th>
                            Départ
                        </th>
                        <th>
                            Retour
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PrixTotal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdEtatDossierNavigation)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>

                            <td>
                                @item.IdVoyageNavigation.IdDestinationNavigation.Nom
                            </td>

                            <td>
                                @item.IdVoyageNavigation.Voyageur.Count
                            </td>
                            <td>
                                @item.IdVoyageNavigation.DateDepart.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.IdVoyageNavigation.DateRetour.ToString("dd/MM/yyyy")
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PrixTotal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdEtatDossierNavigation.Libelle)
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Supprimer</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <a asp-area="Client" asp-controller="Voyages" asp-action="Index" class="btn btn-primary">Réserver un autre voyage</a>
        </div>
    </div>

}

