@model IEnumerable<Bo_Voyage_Final.Models.Dossierresa>




<div class="container-fluid ">
    <div class="row d-flex justify-content-center bg-light rounded ">
        <h1>Liste des réservations</h1>
    </div>
</div>
<br />
<br />





<div class="container-fluid ">
    <div class="row d-flex justify-content-center bg-light rounded">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdClient)
                    </th>
                    <th>
                        Numéro du voyage
                    </th>

                    <th>
                        Destination
                    </th>
                    <th>
                        Nombre de personnes
                    </th>
                    <th>
                        Départ
                    </th>
                    <th>
                        Retour
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrixTotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdEtatDossierNavigation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdClient)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdVoyage)
                        </td>

                        <td>
                            @item.IdVoyageNavigation.IdDestinationNavigation.Nom
                        </td>

                        <td>
                            @(item.IdVoyageNavigation.Voyageur.Count + 1)
                        </td>
                        <td>
                            @item.IdVoyageNavigation.DateDepart.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @item.IdVoyageNavigation.DateRetour.ToString("dd/MM/yyyy")
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PrixTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdEtatDossierNavigation.Libelle)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Détails</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Modifier</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
