@model IEnumerable<Bo_Voyage_Final.Models.Voyage>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des voyages</h1>

<form asp-controller="Voyages" asp-action="Index" method="get">

    <p>
        <label>Destination</label>
        <select name="idDestination"
                asp-items="@(new SelectList( ViewBag.Destinations,"Id","Nom",ViewData["IdDestination"]))">
            <option selected value="0">Toutes les destinations</option>
        </select>

        <label>Prix Minimal</label>
        <input type="number" name="minPrice" value="@ViewBag.MinPrice" step="50">
        <label>Prix Maximal</label>
        <input type="number" name="maxPrice" value="@ViewBag.MaxPrice" step="50">

        <label>Date minimale de départ</label>
       <input type="date" name="dateMin" value="@ViewBag.dateMin" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" >

        <label>Date maximale de départ</label>
        <input type="date" name="dateMax" value="@ViewBag.dateMax" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" >
        

        <input type="submit" value="Filtrer" />

    </p>
</form>


<span class="row">
    @foreach (var item in Model)
    {
        
        <partial name="_cardVoyageVuePartielle" model="@item"/>
}
</span>
