@model PersonneVoyage

@{
    ViewData["Title"] = "Reservation";

    int nbMaxPlaces = 10;
    if(Model.Voyage.PlacesDispo < 10)
    {
        nbMaxPlaces = Model.Voyage.PlacesDispo;
    }
}
<h1>Reservation</h1>

<div>
    <p>
        @($"Réservation pour le voyage à destination de {Model.Voyage.IdDestinationNavigation.Nom}" +
        $", du {Model.Voyage.DateDepart.ToShortDateString()} au {Model.Voyage.DateRetour.ToShortDateString()}.")
    </p>
    <p>
        @($"\r {Model.Voyage.PlacesDispo} places disponibles")
    </p>
    <form asp-action="AddVoyageur">
        <input type="hidden" name="idPersonne" value="@Model.Personne.Id" />
        <input type="hidden" name="idVoyage" value="@Model.Voyage.Id" />
        <label for="nbVoyageurs">Nombre d'accompagnateurs</label>
        <input type="number" name="nbVoyageurs" value="@Model.Voyageurs.Count" max="@nbMaxPlaces" />
        <input type="submit" />
    </form>
    <hr />
    <form asp-action="Payer">
        <input type="hidden" name="idPersonne" value="@Model.Personne.Id" />
        <input type="hidden" name="idVoyage" value="@Model.Voyage.Id" />
        @for (int i = 0; i < Model.Voyageurs.Count(); i++)
        {
            <div class="row">
                <div class="col-sm-3">
                    <label for="Email">Email* : </label>
                    <input asp-for="@Model.Voyageurs[i].Email" />
                    <span asp-validation-for="@Model.Voyageurs[i].Email" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label for="Telephone">Telephone : </label>
                    <input asp-for="@Model.Voyageurs[i].Telephone" />
                    <span asp-validation-for="@Model.Voyageurs[i].Telephone" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label for="Datenaissance">Date de naissance : </label>
                    <input asp-for="@Model.Voyageurs[i].Datenaissance" />
                    <span asp-validation-for="@Model.Voyageurs[i].Datenaissance" class="text-danger"></span>
                </div>
            </div>
        }
        <div>
            <label for="assurance">Assurance annulation : </label>
            <input type="checkbox" value="assurance" name="assurance"/>
        </div>
        <input type="submit" value="Suivant" class="btn btn-primary"/>
    </form>
</div>
<hr />
<div>
    <p>
        @((Model.Voyageurs.Count > 0 ? $"{Model.Voyageurs.Count + 1} Voyageurs." : "1 Voyageur.") +
     $" Prix par voyageur : {Model.Voyage.PrixHt}€ HT, incluant une réduction de {Model.Voyage.Reduction * 100}%. ")
    </p>
    <p>
        Une réduction additionnelle de 60% sera appliquée pour les enfants de moins de 12 ans.
    </p>
</div>
<div>
    <a asp-action="Index">Annuler</a>
</div>
