@model PersonneVoyage

@{
    ViewData["Title"] = "Reservation";
}

<h1>Reservation</h1>

<div>
    <p>
        @($"Réservation pour le voyage à destination de {Model.Voyage.IdDestinationNavigation.Nom}, du {Model.Voyage.DateDepart.ToShortDateString()} au {Model.Voyage.DateRetour.ToShortDateString()}.")
    </p>
    <p>
        @($"\r {Model.Voyage.PlacesDispo} places disponibles")
    </p>
    <form asp-action="AddVoyageur">
        <input type="hidden" name="idPersonne" value="@Model.Personne.Id" />
        <input type="hidden" name="idVoyage" value="@Model.Voyage.Id" />
        <label for="nbVoyageurs">Nombre d'accompagnateurs</label>
        <input type="number" name="nbVoyageurs" value="0" max="@Model.Voyage.PlacesDispo" />
        <input type="submit" />
    </form>
    <hr />
    <form asp-action="Payer">
        <input type="hidden" name="idPersonne" value="@Model.Personne.Id" />
        <input type="hidden" name="idVoyage" value="@Model.Voyage.Id" />
        @for (int i = 0; i < Model.Voyageurs.Count(); i++)
        {
            <div class="row">
                <input asp-for="@Model.Voyageurs[i].Email" class="col-sm-3" />
                <input asp-for="@Model.Voyageurs[i].Telephone" class="col-sm-3" />
                <input asp-for="@Model.Voyageurs[i].Datenaissance" class="col-sm-3" />
            </div>
        }
        <input type="submit" value="Suivant" />
    </form>
</div>
<div>
    <p>
        @((Model.Voyageurs.Count > 0 ? $"{Model.Voyageurs.Count + 1} Voyageurs." : "1 Voyageur.") +
     $" Prix par voyageur : {Model.Voyage.PrixHt}€ HT. Une réduction de {Model.Voyage.Reduction * 100}% sera appliquée pour les enfants de moins de 12 ans.")
    </p>
</div>

<div>
    <a asp-action="Index">Annuler</a>
</div>
