@model IEnumerable<Bo_Voyage_Final.Models.Destination>

<div class="container-fluid bg-light m-1 p-1 bg-secondary rounded">

    <div class="bg-light  rounded mb-2">
        <h1 class="h1 font-italic font-weight-bold text-dark">La liste de toutes les destinations dans notre base de données</h1>
    </div>
    <div >
        <a asp-area="BackOffice"
           asp-controller="Destinations"
           asp-action="Create"
           class="btn btn-outline-success font-weight-bold">Créer une destination</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Niveau)
                </th>
                <th class="col-6">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="col-4"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Niveau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Détails</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Modifier</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>