
@model Bo_Voyage_Final.Models.VoyagesDossiersResa



@{
    ViewData["Title"] = "Index";
}

<h1>Tableau de bord</h1>


<h2>Liste des dossiers de réservation en cours</h2>




<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.listeDossierResaEnCours.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.listeDossierResaEnCours.First().IdClient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.listeDossierResaEnCours.First().IdEtatDossier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.listeDossierResaEnCours.First().IdVoyage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listeDossierResaEnCours)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEtatDossier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdVoyage)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<div>

    <form asp-controller="Home" asp-action="Index" method="get">
        <p>
            <label class="font-weight-bold h3">Voyages par nombre de jours :</label>
            <input type="number" name="nbJours" value="@ViewBag.NbJours">
            <input type="submit" value="Filter" />
        </p>
    </form>
    <h2>Liste des voyages disponibles dont le départ est dans moins de @ViewBag.NbJours jours</h2>

    <span class="row">
        @foreach (var item in Model.listeVoyageImminent)
        {

            <partial name="_cardVoyageVuePartielle" model="@item" />
        }
    </span>
</div>