@model IEnumerable<Bo_Voyage_Final.Models.Voyage>


<div class=" container p-1 bg-light rounded">
    <div class="bg-white border-dark border rounded mb-2">
        <h1 class="h1 font-italic font-weight-bold text-dark">La liste de tous les voyages dans notre base de données</h1>
    </div>
    <div class=" container rounded mb-2 text-center">
        @{
            if (ViewBag.Action == null)
            {
                <div class="row">
                    <div class="col-4">
                        <a asp-area="BackOffice"
                           asp-controller="Voyages"
                           asp-action="Create"
                           class="btn btn-success btn-lg btn-block font-weight-bold">Créer</a>
                    </div>
                    <div class="col-4">
                        <a asp-area="BackOffice"
                           asp-controller="Voyages"
                           asp-action="EditerVoyages"
                           asp-route-id="editer"
                           class="btn btn-primary btn-lg btn-block font-weight-bold">Modifier</a>
                    </div>
                    <div class="col-4">
                        <a asp-area="BackOffice"
                           asp-controller="Voyages"
                           asp-action="EditerVoyages"
                           asp-route-id="supprimer"
                           class="btn btn-danger btn-lg btn-block font-weight-bold">Supprimer</a>
                    </div>
                </div>
            }
        }
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateDepart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateRetour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlacesDispo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrixHt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reduction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descriptif)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdDestinationNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateDepart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRetour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlacesDispo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrixHt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reduction)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descriptif)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDestinationNavigation.Nom)
                    </td>
                    <td>
                        @{
                            if (ViewBag.Action == "editer")
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Editer</a>;
                            }
                            if (ViewBag.Action == "supprimer")
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Supprimer</a>;
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
