@model IEnumerable<Bo_Voyage_Final.Models.Voyage>


<div class="container-fluid bg-light m-1 p-1 bg-secondary rounded">
    <div class="bg-light  rounded mb-2">
        <h1 class="h1 font-italic font-weight-bold text-dark">Liste des voyages </h1>
    </div>
    <div class="col-4">
        <a asp-area="BackOffice"
           asp-controller="Voyages"
           asp-action="Create"
           class="btn btn-outline-success font-weight-bold">Créer un voyage</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateDepart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateRetour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlacesDispo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrixHt)
                </th>
                <th>
                    <span>@Html.DisplayNameFor(model => model.Reduction) % </span> 
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdDestinationNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateDepart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRetour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlacesDispo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrixHt)
                    </td>
                    <td>
                        @((int)(item.Reduction * 100))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDestinationNavigation.Nom)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Détails</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Modifier</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>